@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/poppins-v20-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/poppins-v20-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/poppins-v20-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/poppins-v20-latin-700.woff2") format("woff2");
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-6xl px-8;
  }

  .h2 {
    line-height: 55px;
  }

  .circle {
    @apply bg-accent rounded-full;
  }

  .link-hover {
    @apply hover:shadow-2xl duration-300;
  }
}
.active {
  background-color: rgb(138, 138, 138);
}
